* { /* Reset de CSS e é utilizada para evitar problemas de cross browser*/

margin: 0;

padding: 0;

box-sizing: border-box;

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
	background: #ffda70;
}


.hero {
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-top:40px ; */
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0;
}

.logo {
    font-size: 28px;
}

span {
    color: #ea1538;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration:wavy;
   font-weight: bold;
   
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

nav ul li a:hover{
    color: #ea1538;
    transition: .3s;
}

.container-busca .input{
	border: 0;
	outline: none;
	color: #4b4a49;
}

.search_wrap{
	width: 300px;
	margin: 38px auto;
}

.search_wrap .search_box{
	position: relative;
	width: 300px;
	height: 40px;
    background-color: white;
}

.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 18px;
}

.search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
	background: #ea1538;
	z-index: 1;
	cursor: pointer;
}

.search_wrap .search_box .btn:hover{
	background: #ea1538;	
}

.search_wrap .search_box .btn.btn_common .fas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size: 20px;
}

.search_wrap.search_wrap_1 .search_box .btn{
	right: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.content {
    height: 485px;
    width: 735px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 250px;
}

.navigation {
    position: absolute;
    bottom: 75px;
    left: 50%;
    top: 97%;
    transform: translate(-50%);
    display: flex;
    margin-top: 200px;
}
.bar {
    width: 70px;
    height: 17px;
    border: 2px solid #ea1538;
    margin: 0px 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
    
}

.bar:hover{
    background-color: #fff;
}

input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: 0.6s;

}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s2 {
    margin-left: -20%;
}

#slide3:checked ~ .s3 {
    margin-left: -40%;
}

#slide4:checked ~ .s4 {
    margin-left: -60%;
}

#slide5:checked ~ .s5 {
    margin-left: -80%;
}


.adote {
    margin: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
}

.container-banner {
    align-items: center;
    margin-left: 7%;
  
    
}

.container-banner img {
    height: 420px
   
}

.grandediv {
    display: flex;
    margin-top: 80px;
}
.textoadote{
    display: block;
}

.pq {
    margin-left: 10px;
}

.mapaanimal {
    margin-top: 7%;
    width: 100%;
}
.mapaanimal h2{
    text-align: center;
}

.maps {
    margin-left: 75px;
}

    footer {
    margin-top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    height:100px;
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.511);
}
    div.social-media-links {
          overflow: hidden;
          padding-bottom: 4px;
          text-align: center;
  }
    .footer {
              margin: 0;
              padding: 0;
              
          }
    .footerli {
              display: inline;
              margin: 0;
              padding: 15px;
          }
    .footera{
              border-bottom: 0px solid rgba(0,0,0,0.95);
              border-radius: 4px;
              box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0), 0 6px 8px rgba(0,0,0,0), 0 24px 24px rgba(0,0,0,0), 0 36px 36px rgba(0,0,0,0), 0 64px 64px rgba(0,0,0,0), 0 64px 128px rgba(0,0,0,0), 0 120px 0 rgba(0,0,0,0), 0 86px 8px 6px rgba(0,0,0,0),;
              display: inline-block;
              height: 30px;
              padding: 20px;
              position: relative;
              transition: .2s ease-in;
              width: 30px;
          }
          .footera:hover {
              transform: translateY(-4px);
  }


  .circle-image {
    display:inline-block;
    border-radius: 75%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-left: 40px;
  }

  .circle-image img {
    width: 100%;
   height : 100%;
   object-fit:cover;
  }

  .circle-image p {
    font-size: 18px;
  }

  .equipe {
    width: 80%;
    margin-top: 70px;
    margin-left: auto;

    margin-right: auto;
    display: flex;
    align-items: center;
  }

  .patria {
    text-align: center;
  }

  .patria p {
    margin-left: 50px;
  }

  .contato {
 width: 100%;
 height: 100%;
 display: flex;
 flex-flow: row wrap;
  }

.Contate-nos {
    width: 50%;
    padding-left: 60px;
}



.formcontato {
    width:50% ;
    flex-wrap:wrap;
    margin-top: 70px;
    padding-left: 60px;
}


.formcontato input {
    border: 1px solid #141414;
    display: flex;
    height: 40px;
    width: 300px;
    text-align: center;
    background-color: transparent;
}

#msg {
    height: 100px;
}

.email {
   padding-left: 50%;
    text-align: center;
}

.tel {
    padding-left: 50%;
    text-align: center;
}

.botaocontato input {
    width: 100px;
    background-image: linear-gradient(to right, rgb(234, 21, 57), rgb(168, 7, 34));
    margin-left: 100px;
    margin-right: 100px;
    font-size: 18px;
    text-decoration: none;
    padding-left: 25px;
    justify-items: center;

}

.botaocontato input:hover {
    background-image: linear-gradient(to right,rgb(168, 7, 34), rgb(234, 21, 57));
    font-size: 20px;
    padding-left: 25px ;
    color: #fff;
}

.contato h1 {
    font-size: 52px;
    color: #ea1538;
    padding-left: 50%;
}

.valor {
    color: #ea1538;
    text-decoration: underline;
}

.formcontato p {
    color: #4b4a49;
    font-size: 9px;
    margin-top: 10px;
}

.bemvindo {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}


.bemvindo h1 {
    font-size: 52px;
}

.bemvindo p {
    font-size: 24px;
}